#root {
    width: 1440px;
    margin: 0 auto;
    padding: 2rem;
}

th, td, h3 + div {
    padding-left: 1rem;
    padding-right: 1rem;
}

td:not(:first-of-type) {
    text-align: right;
}

.loading {
}